<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Twitter Curator</title>
  </head>
  <body class="bg-light">
    <div class="layout-center layout-wide">
      <h1 class="text-primary text-center display-3 mb-4">Twitter Curator</h1>
        <p class="h3 mb-4">Folgende Accounts könnten interessant für dich sein:</p>
        <% accounts.forEach(function(account) { %>
        <div class="card shadow-sm mb-2">
          <div class="card-body">
            <h2 class="card-title h5">
              <a href="<%= account.account.link %>" target="_blank"><%= account.account.name %></a>
            </h2>
            <p class="card-text"><small class="text-muted"><%= account.account.handle %></small></p>
            <p class="card-text"><%= account.account.description %></p>
          </div>
        </div>
        <% }); %>
    </div>
  </body>
</html>
